html, body {
    width: 100%;
    height: 100%;
    margin: 0;

}
body{
    padding: 20px;
    box-sizing: border-box;
}
.title{
margin: 0 auto;
    text-align: center;
}
#container {
    float: right;
    display: inline-block;
    width: 73%;
    height: 350px;
    border: 5px solid #1976d2;
    box-sizing: border-box;
}

/*Table Styles*/
.tableHolder{
    width: 27%;
    box-sizing: border-box;
    float:left;
    display: inline-block;
    height: 350px;
    overflow-y: scroll;
    overflow-x: hidden;
}
#RoutingTable{
    border-collapse: collapse;
}
#RoutingTable th{
    width: 100%;
    display: block;
}
td{
    border: 1px solid #000000;
    padding: 5px;
}
/*selector for key row children*/
.keyRow > td{
    font-weight: bold;
}
/*End Table Styles*/


/*Button Styles*/
.buttonsHolder{
    width: 100%;
    display: inline-flex;
    justify-content: center;
}
h2{
    text-align: center;
}
.mod{
    margin: 10px;
    margin-bottom: 40px;
}

/*
.center .inputMods {
    width: 46%;
}
.inputMods .lefty {
    margin-right: 18px;
}
.left,.right{
    display: inline-flex;
    width: 49%;
    justify-content: center;
}
.inputMods{
}
*/
.button1{
    background-color: #000000;
    border: none;
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 0%;
}

.custom-btn {
    width: 120px;
    height: 30px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
/*Disabled styles*/
.disabledButton {
    background-color:#d7d8d9 !important;
    background:#d7d8d9 !important;
    color:#adadad !important;
    box-shadow:none;
}
.disabledButton:hover{
    background-color:#d7d8d9 !important;
    background:#d7d8d9 !important;
    color:#adadad !important;
}
.disabledButton.btn-3 span:hover{
    color:#adadad !important;
}
.disabledButton.btn-3:hover:before,
.disabledButton.btn-3:hover:after{
    background:none !important;
    transition:none !important;
}
.disabledButton.btn-3 span:hover:before,
.disabledButton.btn-3 span:hover:after{
    background:none !important;
    transition:none !important;
}
.disabledButton.btn-3:before,
.disabledButton.btn-3:after{
    background:none !important;
    transition:none !important;
}
.disabledButton.btn-3 span:before,
.disabledButton.btn-3 span:after{
    background:none !important;
    transition:none !important;
}
/*End Disabled styles*/

.btn-3 {
    background: rgb(0,172,238);
    background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 120px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    border: none;

}
.btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.btn-3:before,
.btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.btn-3:before {
    height: 0%;
    width: 2px;
}
.btn-3:after {
    width: 0%;
    height: 2px;
}
.btn-3:hover{
    background: transparent;
    box-shadow: none;
}
.btn-3:hover:before {
    height: 100%;
}
.btn-3:hover:after {
    width: 100%;
}
.btn-3 span:hover{
    color: rgba(2,126,251,1);
}
.btn-3 span:before,
.btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgba(2,126,251,1);
    transition: all 0.3s ease;
}
.btn-3 span:before {
    width: 2px;
    height: 0%;
}
.btn-3 span:after {
    width: 0%;
    height: 2px;
}
.btn-3 span:hover:before {
    height: 100%;
}
.btn-3 span:hover:after {
    width: 100%;
}

/*End Button Styles*/

/*Input Field Styles*/
input{
    height: 20px;
}


